<div class="container">

    <div class="jumbotron">
<h1>Eat dah Burger!</h1>

<h2>DAH burgers!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burgers_name}} 
        <button class="eat-burger" id="leftside" data-id="{{id}}" >EAT</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers you ate</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burgers_name}}   
         <button class="delete-burger" id="rightside" data-id="{{this.id}}">DELETE!</button>

    </li>
    {{/if}}
    {{/each}}
</ul>

<h2 id="newburger">Add a burger</h2>
<form id="post-burger">

    <div class="form-group">
        <label for="burgers">burger Name:</label>
        <input type="text" class="form-control" id="add-burger" name="burger_name">
    </div>

    <button type="submit" id="button">Add burger</button>

</form>